.App {
  text-align: center;
  /* position: relative; */
  background-color: #fff0f1;
}

.Header {
  background-color: #fff0f1;
}

.sider {
  text-align: start;
  background-color: #fff0f1
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

body {
  background-color: #fff0f1;
}

#homePageContainer {
  height: 400px;
  width: 400px;
  margin: 20px auto;
}

.ant-avatar > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.ant-table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.manuIcon {
  font-size: x-large;
  color: #722ed1;
  margin-right: 10px;
}
